.navigation__nav-items {
    display: flex;
    justify-content: space-between;
    min-width: 520px;
    padding-left: 0;
}

.navigation__nav-link {
    font-family: $med;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #48494D;

    &:hover {
        color: #D12136;
    }
}